@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: url("https://sjc.microlink.io/GPQ34NGzZ1fqJuoHNoncQ6X1pQvyF4V24Ew2GbUMTw4puVqvvQy-TW_cPgUodvmiDRIlNP6PF2bTmxPrOaO5FQ.jpeg")
    no-repeat center center fixed;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

